/*
* Default Page CSS
*/

/*CSS RESET*/
html, body, ul{margin:0px; padding:0px;}
*{font-family:Verdana;line-height:160%;text-decoration:none;}

.hr-nav{
display:inline;
}

html{
min-width:900px;
overflow-x:hidden;
}

/*NAVIGATION*/
.logo{
width:115px;
margin-left:200px;
float:left;
padding-top:10px;
}
.nav{
height:1em;
padding-left:350px;
padding-top:10px;
}			
.nav-item{
display:inline;
padding:2em;
color:gray;
font-size:15px;
}

/*FOOTER*/
footer{
background-color:rgb(9,112,84);
padding:3em;
}
.ft-sub{
padding-right:3em;
}
.sec{
margin-bottom:1em;
font-size:.6em;
}
.FT{
display:inline;
width:1em;
height:1em;
margin-right:.5em;
}